.form-food__title {
  padding: 0 20px;
  font-family: $font-stack;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  font-weight: normal;
  margin: 15px 0 15px;
}

.form-food__slogan {
  font-family: $font-stack;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  color: #111111;
  margin: 15px 0 30px;
  padding: 10px 20px 10px 20px;
}

.form-food__field {
  padding: 0 0 16px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-food__label {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
}

.form-food__input-text {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  outline: 1px solid rgba(205, 205, 205, 0.5);
  border: none;
  padding: 12px 15px;
  min-height: 43px;
  flex-grow: 1;
  margin: 0 20px 0 14px;
}

.form-food__input-radio {
  display: none;
}

.form-food__radio-wrapper {
  margin-top: 35px;
}

.form-food__label--radio {
  padding-left: 46px;
  padding-bottom: 9px;
  position: relative;

  &::before {
    position: absolute;
    top: -6px;
    left: 0;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }
}

.form-food__input-radio:not(:disabled):checked + .form-food__label--radio::before {
  background-color: $theme-color-default;
  box-shadow: inset 0 0 0 8px #ffffff;
}

.form-food__section-header {
  font-size: 24px;
  line-height: 24px;
  font-family: $font-stack;
  font-weight: normal;
  max-width: 185px;
  color: #111111;
}

.form-food__input-textarea {
  padding: 15px;
  border: 1px solid #e6e6e6;
  color: #444444;
  box-shadow: none;
  width: 280px;
  margin: 0 auto;
  display: block;

  &::placeholder {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-family: $font-stack;
  }
}

.form-food__input-checkbox {
  display: none;
}

.form-food__checkbox-wrapper {
  margin-top: 10px;
}

.form-food__label--checkbox {
  padding-left: 46px;
  padding-bottom: 9px;
  position: relative;

  &::before {
    position: absolute;
    top: -6px;
    left: 0;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
  }

  &::after {
    position: absolute;
    display: none;
    content: "";
    top: 0;
    left: 5px;
    width: 20px;
    height: 12px;
    border-left: 2px solid $theme-color-default;
    border-bottom: 2px solid $theme-color-default;
    transform: rotate(-49deg);
  }
}

.form-food__input-checkbox:not(:disabled):checked + .form-food__label--checkbox::after {
  display: block;
}

.form-food__submit {
  @include button-default;
  box-shadow: none;
  border: none;
  font-size: 16px;
  width: 280px;
  min-height: 40px;
}

@media (min-width: $media-tablet) {
  .form-food__title {
    padding: 0 30px;
    font-size: 60px;
  }

  .form-food__slogan {
    font-size: 20px;
    line-height: 30px;
    width: 385px;
    padding-left: 40px;
  }

  .form-food__radio-wrapper {
    outline: 1px solid #e6e6e6;
  }

  .form-food__input-textarea {
    width: 630px;
  }

  .form-food__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-food__field--checkbox {
    flex: 1 0 50%;
  }

  .form-food__required-text {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 60px;
  }
}
