.program-choice {
  margin-top: 22px;
  padding: 0 20px;
}


.program-choice__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.program-choice__item {
  margin-top: 22px;
}

@media (min-width: $media-tablet) {
  .program-choice {
    margin-top: 0;
    padding: 0 30px;
  }

  .program-choice__item {
    margin-top: 30px;
  }

  .program-choice__item:first-child {
    margin-top: 0;
  }
}
