<footer class="footer-main">
  <section class="contacts">
    <div class="contacts__wrapper">
      <h2 class="contacts__title visually-hidden">Контакты</h2>
      <p class="contacts__slogan">приглашаем к сотрудничеству дилеров!</p>
      <address class="contacts__address">ул. Большая Конюшенная, д. 19/8 Санкт-Петербург</address>
    </div>
    <div class="contacts__map">
      <!-- тут будет карта -->
      <img src="http://placehold.it/320x362" alt="">
    </div>
  </section>
  <div class="logo logo--footer">
    <a{{#unless index-page}} href="index.html"{{/unless}} class="logo__link logo__link--footer">
      <img class="logo__name logo__name--footer" src="http://placehold.it/128x24" alt="">
    </a>
  </div>
  <ul class="social-list">
    <li class="social-list__item">
      <a href="#" class="social-list__link social-list__link--vk">
        <span class="visually-hidden">ВКонтакте</span>
      </a>
    </li>
    <li class="social-list__item">
      <a href="#" class="social-list__link social-list__link--instagram">
        <span class="visually-hidden">Инстаграм</span>
      </a>
    </li>
    <li class="social-list__item">
      <a href="#" class="social-list__link social-list__link--facebook">
        <span class="visually-hidden">Фейсбук</span>
      </a>
    </li>
  </ul>
  <div class="credits">
    <a href="https://htmlacademy.ru/intensive/adaptive" class="credits__link">
      <p class="credits__text">HTML Academy</p>
    </a>
    <a href="https://htmlacademy.ru/intensive/adaptive" class="credits__link">
      <img class="credits__logo" alt="HTML Academy" src="http://placehold.it/27x34">
    </a>
  </div>
</footer>

