{{!-- partials/header.hbs --}}
<header class="page__header">
  <nav class="page__navigation burger-menu">
    <div class="logo logo--header burger-menu__logo">
      <a{{#unless index-page}} href="index.html"{{/unless}} class="logo__link">
        {{> svginline logo-mobile="true" class="logo__icon logo__icon--mobile" alt="Cat Energy logo" w="192" h="38"}}
        {{> svginline logo-tablet="true" class="logo__icon logo__icon--tablet" alt="Cat Energy logo" w="173" h="58"}}
        {{> svginline logo-desktop="true" class="logo__icon logo__icon--desktop" alt="Cat Energy logo" w="300" h="400"}}
      </a>
    </div>
    <button class="burger-menu__toggle-btn burger-menu__toggle-btn--nojs">
      <span class="ie-sucks visually-hidden">показать меню</span>
    </button>
    <ul class="burger-menu__list burger-menu__list--nojs">
      <li class="burger-menu__item">
        <a class="burger-menu__link"{{#unless index-page}} href="index.html"{{/unless}}>Главная</a>
      </li>
      <li class="burger-menu__item">
        <a class="burger-menu__link"{{#unless catalog-page}} href="catalog.html"{{/unless}}>Каталог продукции</a>
      </li>
      <li class="burger-menu__item">
        <a class="burger-menu__link"{{#unless program-page}} href="program.html"{{/unless}}>Подбор программы</a>
      </li>
    </ul>
  </nav>
</header>
