{{#> layout catalog-page="true"}}
{{#*inline "main-block"}}
<section class="catalog">
  <h1 class="catalog__header">Каталог продукции</h1>
  <div id="products-pro" class="catalog__section">
    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product">
          <div class="product__image-wrapper">
            <a class="product__link" href="#">
              <img class="product__image" src="http://placehold.it/140x144" alt="Cat Energy pro 500 г">
            </a>
          </div>
          <div class="product__description">
            <a href="#" class="product__link">
              <h3 class="product__name">Cat Energy pro&nbsp;500&nbsp;г&nbsp;</h3>
            </a>
            <dl class="product__properties-list">
              <dt class="product__property-name">Обьем</dt>
              <dd class="product__property-value">500 г</dd>
              <dt class="product__property-name">Вкус</dt>
              <dd class="product__property-value">Курица</dd>
              <dt class="product__property-name">Цена</dt>
              <dd class="product__property-value">700 Р.</dd>
            </dl>
          </div>
          <a class="product__order-btn" href="#">Заказать</a>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product">
          <div class="product__image-wrapper">
            <a class="product__link" href="#">
              <img class="product__image" src="http://placehold.it/140x144" alt="Cat Energy pro 1000 г">
            </a>
          </div>
          <div class="product__description">
            <a href="#" class="product__link">
              <h3 class="product__name">Cat Energy pro&nbsp;1000&nbsp;г</h3>
            </a>
            <dl class="product__properties-list">
              <dt class="product__property-name">Обьем</dt>
              <dd class="product__property-value">1000 г</dd>
              <dt class="product__property-name">Вкус</dt>
              <dd class="product__property-value">Курица</dd>
              <dt class="product__property-name">Цена</dt>
              <dd class="product__property-value">1000 Р.</dd>
            </dl>
          </div>
          <a class="product__order-btn" href="#">Заказать</a>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product">
          <div class="product__image-wrapper">
            <a class="product__link" href="#">
              <img class="product__image" src="http://placehold.it/140x144" alt="Cat Energy pro 500 г">
            </a>
          </div>
          <div class="product__description">
            <a href="#" class="product__link">
              <h3 class="product__name">Cat Energy pro&nbsp;500&nbsp;г&nbsp;</h3>
            </a>
            <dl class="product__properties-list">
              <dt class="product__property-name">Обьем</dt>
              <dd class="product__property-value">500 г</dd>
              <dt class="product__property-name">Вкус</dt>
              <dd class="product__property-value">Рыба</dd>
              <dt class="product__property-name">Цена</dt>
              <dd class="product__property-value">700 Р.</dd>
            </dl>
          </div>
          <a class="product__order-btn" href="#">Заказать</a>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product">
          <div class="product__image-wrapper">
            <a class="product__link" href="#">
              <img class="product__image" src="http://placehold.it/140x144" alt="Cat Energy pro 1000 г">
            </a>
          </div>
          <div class="product__description">
            <a href="#" class="product__link">
              <h3 class="product__name">Cat Energy pro&nbsp;1000&nbsp;г</h3>
            </a>
            <dl class="product__properties-list">
              <dt class="product__property-name">Обьем</dt>
              <dd class="product__property-value">1000 г</dd>
              <dt class="product__property-name">Вкус</dt>
              <dd class="product__property-value">Рыба</dd>
              <dt class="product__property-name">Цена</dt>
              <dd class="product__property-value">1000 Р.</dd>
            </dl>
          </div>
          <a class="product__order-btn" href="#">Заказать</a>
        </article>
      </li>
    </ul>
  </div>
  <div id="products-slim" class="catalog__section">
    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product">
          <div class="product__image-wrapper">
            <a class="product__link" href="#">
              <img class="product__image" src="http://placehold.it/140x144" alt="Cat Energy slim 500 г">
            </a>
          </div>
          <div class="product__description">
            <a href="#" class="product__link">
              <h3 class="product__name">Cat Energy slim&nbsp;500&nbsp;г</h3>
            </a>
            <dl class="product__properties-list">
              <dt class="product__property-name">Обьем</dt>
              <dd class="product__property-value">500 г</dd>
              <dt class="product__property-name">Вкус</dt>
              <dd class="product__property-value">Гречка</dd>
              <dt class="product__property-name">Цена</dt>
              <dd class="product__property-value">400 Р.</dd>
            </dl>
          </div>
          <a class="product__order-btn" href="#">Заказать</a>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product">
          <div class="product__image-wrapper">
            <a class="product__link" href="#">
              <img class="product__image" src="http://placehold.it/140x144" alt="Cat Energy slim 1000 г">
            </a>
          </div>
          <div class="product__description">
            <a href="#" class="product__link">
              <h3 class="product__name">Cat Energy slim&nbsp;1000&nbsp;г</h3>
            </a>
            <dl class="product__properties-list">
              <dt class="product__property-name">Обьем</dt>
              <dd class="product__property-value">1000 г</dd>
              <dt class="product__property-name">Вкус</dt>
              <dd class="product__property-value">Гречка</dd>
              <dt class="product__property-name">Цена</dt>
              <dd class="product__property-value">700 Р.</dd>
            </dl>
          </div>
          <a class="product__order-btn" href="#">Заказать</a>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product">
          <div class="product__image-wrapper">
            <a class="product__link" href="#">
              <img class="product__image" src="http://placehold.it/140x144" alt="Cat Energy slim 500 г">
            </a>
          </div>
          <div class="product__description">
            <a href="#" class="product__link">
              <h3 class="product__name">Cat Energy slim&nbsp;500&nbsp;г</h3>
            </a>
            <dl class="product__properties-list">
              <dt class="product__property-name">Обьем</dt>
              <dd class="product__property-value">500 г</dd>
              <dt class="product__property-name">Вкус</dt>
              <dd class="product__property-value">Рис</dd>
              <dt class="product__property-name">Цена</dt>
              <dd class="product__property-value">500 Р.</dd>
            </dl>
          </div>
          <a class="product__order-btn" href="#">Заказать</a>
        </article>
      </li>
    </ul>
  </div>
  <div class="catalog__more">
    <p class="catalog__more-title">Показать еще 100500 товаров</p>
    <p class="catalog__more-slogan">На самом деле вкусов гораздо больше!</p>
    <a class="catalog__all-btn catalog__all-btn--nojs" href="#">Показать все</a>
  </div>
</section>
<section class="accessories">
  <h2 class="accessories__title">Дополнительные товары</h2>
  <ul class="accessories__list">
    <li class="accessories__item">
      <article class="product">
        <div class="product__description">
          <h3 class="product__name product__name--accessories">Сахарозаменитель</h3>
          <dl class="product__properties-list product__properties-list--accessories">
            <dt class="product__property-name product__property-name--accessories">1 упаковка (100 г)</dt>
            <dd class="product__property-value product__property-value--accessories">100 Р.</dd>
          </dl>
        </div>
        <a href="#" class="product__order-btn">Заказать</a>
      </article>
    </li>
    <li class="accessories__item">
      <article class="product">
        <div class="product__description">
          <h3 class="product__name product__name--accessories">Питьевая вода</h3>
          <dl class="product__properties-list product__properties-list--accessories">
            <dt class="product__property-name product__property-name--accessories">5 литров</dt>
            <dd class="product__property-value product__property-value--accessories">50 Р.</dd>
          </dl>
        </div>
        <a href="#" class="product__order-btn">Заказать</a>
      </article>
    </li>
    <li class="accessories__item">
      <article class="product">
        <div class="product__description">
          <h3 class="product__name product__name--accessories">Молоко</h3>
          <dl class="product__properties-list product__properties-list--accessories">
            <dt class="product__property-name product__property-name--accessories">1 литр</dt>
            <dd class="product__property-value product__property-value--accessories">100 Р.</dd>
          </dl>
        </div>
        <a href="#" class="product__order-btn">Заказать</a>
      </article>
    </li>
    <li class="accessories__item">
      <article class="product">
        <div class="product__description">
          <h3 class="product__name product__name--accessories">Витамины</h3>
          <dl class="product__properties-list product__properties-list--accessories">
            <dt class="product__property-name product__property-name--accessories">1 упаковка (30 г)</dt>
            <dd class="product__property-value product__property-value--accessories">300 Р.</dd>
          </dl>
        </div>
        <a href="#" class="product__order-btn">Заказать</a>
      </article>
    </li>
  </ul>
  <a href="#" class="accessories__order-all">
    <p class="accessories__order-slogan">Закажите все и&nbsp;получите чехол&nbsp;для кота в подарок!</p>
  </a>
</section>
{{/inline}}
{{/layout}}
